*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection{
  color: #fff;
  background-color: #3A3E41;
}

html{
  font-size: 62.5%;
}

body{
  scroll-behavior: smooth;
  font-family: Google Sans;
  overflow-x: hidden;
}

@media (max-width: 1200px) { // width < 1200?
  html{
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }
}

@media (max-width: 900px) {
  html{
    font-size: 50%;
  } 
}

@media (min-width: 2000px) {
  html{
    font-size: 75%;
  }
}