.about{
  // background-image: url('../../images/aboutBG.svg');
  background-color: #f4f4f4;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 0;
  text-align: center;
  color: #666D74;
  transition: color .2s,background-color 1s;

  &__red{
    color: #fff;
    background-color: #E94435;
  }

  &__blue{
    color: #fff;
    background-color: #4285f4;
  }

  &__yellow{
    color: #fff;
    background-color: #F8BB15;
  }

  &__green{
    color: #fff;
    background-color: #0B9D58;
  }
  
  &__heading{
    display: inline-block;
    text-align: center;
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 5rem 0 2rem 0;
    cursor: default;
    transition: all .2s;

    &:hover{
      transform: scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgb(0 0 0 / 18%);
    }
  }

  &__cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5rem 0;
  }

  &__card{
    // background-color: #fff;
    text-align: center;
    padding: 2rem 3rem;
    border-radius: 2.6rem;
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &--red{
      background-color: #ff573a;
    }

    &--blue{
      background-color: #6496e4;
    }

    &--green{
      background-color: #0dc36d;
    }

    &--yellow{
      background-color: #ffd017;
    }

    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    

    // &--1-image{
    //   background-color: rgba($color: #EA4335, $alpha: 0.15);
    // }

    // &--2-image{
    //   background-color: rgba($color: #D958D0, $alpha: 0.15);
    // }

    // &--3-image{
    //   background-color: rgba($color: #43A779, $alpha: 0.15);
    // }

    &--image{
      padding: 3rem;
      // border-radius: 100%;
      display: inline-block;
      margin: 2rem 0;
      
      
      img{
        width: 100%;
      }

      svg{  
        width: 7rem;
        height: 7rem;
      }
    }

    &--heading{
      font-size: 2.5rem;
      font-weight: 400;
      color: #fff;
    }

    &--text{
      font-family: 'open sans',sans-serif;
      font-size: 2.2rem;
      font-weight: 300;
      text-align: justify;
      text-align-last: center;
    }
  }
}