.header{
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 0 8rem;
  position: relative;

  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    &--left{
      max-width: 75rem;
    }

    &--right{
      align-self: stretch;
    }
  }

  &__heading{
    line-height: 1.2;

    &--main{
      font-size: 8rem;
      font-weight: 900;

      &-1{
        color: #E94435;
        display: inline-block;
        overflow: hidden;
        margin-right: 1rem;
      }

      &-2{
        color: #547DBE;
        display: inline-block;
        overflow: hidden;
        margin-right: 1rem;
      }

      &-3{
        color: #F8BB15;
        display: inline-block;
        overflow: hidden;
        margin-right: 1rem;
      }

      &-4{
        color: #0B9D58;
        display: inline-block;
        overflow: hidden;
      }
    }

    &--sub{
      font-size: 3.5rem;
      font-weight: 400;
      color: #3A3E41;
      padding: 1.5rem 0;
    }
  }

  &__text{
    font-size: 2.5rem;
    font-weight: 400;
    color: rgba(#3A3E41,70%);
    text-align: justify;
    margin-bottom: 2rem;
  }

  &__button{
    &:link,&:visited{
      color: #fff;
      text-decoration: none;  
    }

    background-color: #E94435;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    border-radius: 25px;
    // text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
    
    &:hover{
      transform: translateY(-3px);
      box-shadow: 0 1rem 1.5rem rgb(0 0 0 / 20%);
    }

    &:active{
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    }
  }

  &__box{
    
    // width: 100%;
    // background-color: orangered;
    margin-right: 3rem;
    img{
      width: 100%;
    }

  }
}

@media (max-width: 1730px){
  .header{
    padding: 0 0 0 3rem;

    &__box{
      margin-right: 0;
    }

  }
}

@media (max-width: 1420px){
  .header{
    // min-height: 0;
    padding: 0 3rem;

    &__container{
      flex-direction: column;
      text-align: center;

      &--right{
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;
        opacity: .1
      }
    }

    &__text{
      text-align-last: center;
    }
  }
}

@media (max-width: 375px){
  .header{
    &__heading{
      &--main{
        font-size: 6.5rem;
      }
    }
  }
}
