.team{
  background-color: #666d74;
  // background-color: #f5f5f7;
  padding: 5rem 0 15rem 0;
  position: relative;
  text-align: center;

  &__heading{
    display: inline-block;
    font-size: 6rem;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    margin: 5rem 0 2rem 0;
    cursor: default;
    transition: all .2s;

    &:hover{
      transform: scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgb(0 0 0 / 18%);
    }
    
  }

  &__cards{
    padding: 2rem;
  }

  &__card{
    background-color: #fff;
    display: inline-block;
    padding: 1rem;
    position: relative;
    box-shadow: 0px 0px 50px #666D7426;
    border-radius: 2.4rem;
    box-shadow: rgba(#fff, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
    margin-top: 15rem;
    // padding-top: 10rem;


    &--img{
      max-width: 25rem;
      max-height: 25rem;
      border-radius: 100%;
      overflow: hidden;
      padding: 1rem;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-50%);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%,-50%);
      box-shadow: 0px 5px 10px #00000029;

      img{
        width: 100%;
        border-radius: 100%;
        // overflow: hidden;
      }
    }

    &--name{
      font-weight: 900;
      font-size: 3.5rem;
      color: rgba(#101010,70%);
      text-align: center;
      margin: 11rem 0 0 0;
    }

    &--role{
      font-family: 'open sans',sans-serif;
      color: rgba(#101010,70%);
      text-align: center;
      font-size: 2.4rem;
      margin: .2rem 0 1.5rem 0;
      // margin: .5rem 0 2rem 0;
    }

    &--links{
      display: flex;
    }

    &--link{
      &:link,&:visited{
        color: rgba(#101010,70%);
        text-decoration: none;
      }

      display: flex;
      align-items: center;
      flex-grow: 1;
      border-radius: 15px;
      font-size: 2rem;
      padding: .5rem 2rem .5rem .5rem;
      -webkit-tap-highlight-color: transparent;
      &:not(:last-child){
        margin-right: .5rem;
      }


      &-linkedin{
        background-color: rgba(#007AB9,10%);
      }

      &-github{
        background-color: rgba(#000000,10%);
      }

      &-twitter{
        background-color: rgba(#03A9F4,10%);
      }

      img{
        width: 2.4rem;
        height: 2.4rem;
        margin-right: .8rem;
      }
    }
  }

}